p {
        text-align: justify;
        font-family: perpetua;
      }
      h1 {
        background-color: #88ff88; }
      h3 {
        background-color: #ffddcc; }
      #NYTimes{
        border: red dashed;
        padding: 5px;
        margin: 10px;
        height: 230px;
        width: 200px;
        background-color: #f9e1b5;
        color: #3322dd;
        float: right;
      }
      th, td {
        background-color: purple;
        padding: 3px;
      } 
      .data{
        color: #222222; 
        font-family: Arial;
      }
